@import url("font.css");

.videoContainer{
    width: 100%;
    text-align: center;
}
.titleText{
    color: #000;
    font-size: 10em;
    text-transform: capitalize;
    font-family: "antroVectra";
    position: absolute;
    left: 36%;
    text-shadow: 1px 1px #282828;
    top: 30%;
}
.titleText h3{
    font-family: "bank";
    text-transform: lowercase;
    color: #000;
    opacity: 0.5;
    text-shadow: none;
}
.videoContainer video{
    position: relative;
    width: 100%;
    height: 100%;
}
.caps{text-transform: uppercase;}
.mt35{margin-top: 35px;}.mt80{margin-top: 80px;}
.p20{padding: 20px;}.p40{padding: 40px;}
.titleText i{font-size: 40px;color: #000;top:-80px;position: relative;cursor: pointer;}
.bank{
    font-family: "bank";    
}
.headerContainer .bank{font-size: 26px;text-transform: uppercase;color: #000;font-weight: bold;}
.subHeader{text-align: right;font-size: 18px;font-family: "aqua";font-weight: bold}
.content{padding: 20px 140px; font-family: "eraslightitc";font-size: 16px;font-weight: bold}
#galleryCarousel .carouselContainer{height: 500px;margin-bottom: 20px;}
#galleryCarousel .carousel-item img{
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
    text-align: center;
}
#teamCarousel .carousel-item img , .memberContainer .imgContainer img{
    border-radius: 50%;
    max-height: 200px;
    margin: 0 auto;
}
.center{text-align: center;}
.carousel .carousel-indicators li{background-color: #343434;}
.imgConatiner{width: 200px;margin: 0 auto;}
.nameConainer, .memberContainer{
    font-size: 18px;
    font-weight: bold;
    font-family: "bank";
    text-transform: capitalize;
    margin: 8px 0;
    text-align: center
}
.teamDesc{margin: 12px 0;font-size: 16px;font-weight: bold;font-family: "eraslightitc";}
.nameConainer span, .memberContainer div{
    font-size: 14px;
    font-weight: normal; 
    white-space: nowrap ;
    text-transform: none;
    font-family: monospace;
}
#teamCarousel .carousel-indicators{top:100%;}
.gravityContent{font-family: "eraslightitc";padding: 0 140px;font-size: 16px;font-weight: bold;}
.memberContainer .imgContainer {
    width: 300px;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    font-family: "bank";
}
.memberContainer .imgContainer img{max-height: 100px;}
.memberContainer{margin: 16px 0;}
#galleryCarousel .carousel-inner{height: 500px;}
#teamCarousel .carousel-inner{height: 430px;}
.contactContainer{display: inline-block;}
.contactContainer h5
    {
        font-family: "bank";
        font-weight: bold;
        text-transform: lowercase;
    }
.contactForm input, .contactForm textarea{    
    padding: 8px;
    height: 40px;
    background-color: #000;
    color: #fff;
    position: relative;
    width: 100%;
    border: none;
    margin: 12px 0;
}
.contactForm textarea{
    height: 255px;
}
.w45{width: 45%;}
.fr{float: right;}
.fl{float: left;}
.submitform{
    font-size: 14px;
    background: #f9a828;
    color: #000000;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
}
.socialContainer{    
    padding: 40px;
    width: 50%;
    float: right;
    margin: 0 auto;
    display: inline-block;
}
.wrapper{font-size: 20px;font-weight: bold;font-family: "bank"}
.phoneNumDetails{border-right: 1px solid #AAAAAA}
.phoneNumDetails, .addressDetail
{
    font-family: "eraslightitc";
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0px;
}
.LogoContainer{
    margin: 20px 0px;
}
.LogoContainer i.fab {
    font-size: 40px;
    padding: 0px 50px;
    cursor: pointer;
    padding-left: 0px;
}
.socialContainer .subHeader{    
    text-align: left;
    margin-bottom: 20px;
}
#contact{    padding: 40px ;min-height: 700px;}
#contact .headerContainer{margin-bottom: 40px;}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #bc2a8d
}
.fa-twitter-square:hover{
    color: #38A1F3;
}
.fa-google-plus-square:hover{
    color: #D34836;
}
.LogoContainer a{color: #000;}
#team .fa-chevron-down{color: #35ce35;}
#contact .fa-chevron-down{color: #ff0000;}
.carousel-fade .carousel-item{min-height: 500px;}
.triangle{
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    display: inline-block;
    border: 4px solid #5d5b5b;
    border-right: 0;
    border-top: 0px;
    background: transparent !important;
}
.triangleBorder{
    height: 212px;
    border-left: 4px solid #5d5b5b;
    display: inline-block;
    position: relative;
    left: -81px;
    top: 32px;
}
.triangleText{
    position: relative;
    top: -72px;
    left: 78px;
    font-size: 16px;
}
.triangle.green{
    border-bottom: 8px solid #057738;
}
.triangle.blue{
        border-left: 8px solid #1A2D97;
}
.triangleBorder.red{
    border-left: 8px solid;
    border-image-source: linear-gradient(40deg,#DB0000,#972D1A)!important;
    border-image-slice: 1;    
}
.loaderContainer {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  section.wrapper {
    padding: 40px 0;
  }
  section.wrapper.dark {
      height: 100%;
    background: #313134;
  }
  
  div.spinner {
    -moz-animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
    position: relative;
    display: block;
    margin: auto;
    width: 142px;
    margin-top: 15%;
    height: 142px;
  }
  div.spinner i {
    -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: solid 6px transparent;
    border-bottom: none;
  }
  div.spinner i:nth-child(1) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    width: 44px;
    height: 22px;
    margin-top: -22px;
    margin-left: -22px;
    border-color: #2172b8;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  div.spinner i:nth-child(2) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    width: 58px;
    height: 29px;
    margin-top: -29px;
    margin-left: -29px;
    border-color: #18a39b;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
  }
  div.spinner i:nth-child(3) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    width: 72px;
    height: 36px;
    margin-top: -36px;
    margin-left: -36px;
    border-color: #82c545;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }
  div.spinner i:nth-child(4) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    width: 86px;
    height: 43px;
    margin-top: -43px;
    margin-left: -43px;
    border-color: #f8b739;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
  }
  div.spinner i:nth-child(5) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    width: 100px;
    height: 50px;
    margin-top: -50px;
    margin-left: -50px;
    border-color: #f06045;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  div.spinner i:nth-child(6) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    width: 114px;
    height: 57px;
    margin-top: -57px;
    margin-left: -57px;
    border-color: #ed2861;
    border-top-left-radius: 66px;
    border-top-right-radius: 66px;
  }
  div.spinner i:nth-child(7) {
    -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    width: 128px;
    height: 64px;
    margin-top: -64px;
    margin-left: -64px;
    border-color: #c12680;
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;
  }
  div.spinner i:nth-child(8) {
    -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    width: 142px;
    height: 71px;
    margin-top: -71px;
    margin-left: -71px;
    border-color: #5d3191;
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
  }
  
  @-moz-keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
